API_ID=
API_HASH=
BOT_USERNAME=solo_rank_bot

# Telegram account 1
PHONE_1=
SESSION_NAME_1=auth/dungeon_selfbot_1

# Telegram account 2
PHONE_2=
SESSION_NAME_2=auth/dungeon_selfbot_2

# Telegram account 3
PHONE_3=
SESSION_NAME_3=auth/dungeon_selfbot_3
