API_ID=
API_HASH=
BOT_USERNAME=solo_rank_bot

# Telegram account 1
PHONE_1=
SESSION_NAME_1=auth/dungeon_selfbot_1
# true = ждать естественного восстановления энергии
# false = не ждать и входить в данж в истощении
WAIT_FOR_ENERGY_1=true

# Telegram account 2
PHONE_2=
SESSION_NAME_2=auth/dungeon_selfbot_2
WAIT_FOR_ENERGY_2=true

# Telegram account 3
PHONE_3=
SESSION_NAME_3=auth/dungeon_selfbot_3
WAIT_FOR_ENERGY_3=true
